<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://fonts.google.com/specimen/Mochiy+Pop" rel="stylesheet" type="text/css"/>
    <title>Customer</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-size: 12pt;
            font-style: normal;
        }

        h1 {
            color: crimson;
            background-color: burlywood;
        }

        p {
            color: blue;
            background-color: aliceblue;
        }

    </style>
</head>

<body>
    <h1 style="background-color: aqua">Customer Code</h1>
    <p th:text="${customer.code}">ABC-123</p>
    <h1>Name</h1>
    <p th:text="${customer.name}">Juanito</p>
    <h1>Last Name</h1>
    <p th:text="${customer.lastName}">Perez</p>
    <h1>Document Type</h1>
    <p th:text="${customer.documentType}">LSM</p>
    <h1>Document Number</h1>
    <p th:text="${customer.documentNumber}">LSM-98-89765434</p>
    <h1>Email</h1>
    <p th:text="${customer.email}">pordefecto@gmail.com</p>
    <div class="column-12">
        <img th:src="${customer.codeQr}"
                src="https://cf.ltkcdn.net/gatos/images/std/236641-800x515r1-etapas-desarrollo-gatitos.jpg"
                alt="Image Code Qr"
        />
    </div>
</body>
</html>